# macOS
.DS_Store

# Editor backup
*~
*.swp
*.swo

# Python
__pychache__/
*.pyc

# VS Code
.vscode/

# Simulation artifacts
*.raw
*.log
*.out
*.bak
*.rpt

#Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/
.jupyter_ystore.db
**/.jupyter_ystore.db
*.mat
tmp/
temp/
